#quantity::placeholder {
  color: rgba(244, 109, 109, 0.803);
}

.field1 div {    
  display: inline-block;
  width: 45%;
  vertical-align: middle;
  margin: 1% 1%;
}

form h2 {
  font-size: 1.2rem;
}

form h2,
form div {
  margin: auto;
  text-align: left;
  width: 90vw;
}

.form {
  font-size: 1rem;
}

h1, h2 {
  font-weight: bold !important;
}

.divcontainer h1 {
  margin: auto;
  width: 90%;
  font-size: 1.5rem;
}

.divcontainer {
  margin: auto;
  background-color: #ffffff;
}

.divheader-logo{
  margin: auto;
  width: 10vw;
  height: 10vh;
}

.divheader-logo svg {
  height: 100%;
}

header{
  padding: 1vh;
}

.marginBtm {
  margin-bottom: 1rem;
}

/* nav bar */
/* .main-nav__item a:hover,
.main-nav__item a:active {
	color: white;
	border-bottom: 5px solid white;
}

.main-nav__item a{
	text-decoration: none;
	color: #0e4f1f;
	font-weight: bold;
	padding: 3px 0;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
	color: #ff1b68;
	background: white;
	border: none;
}

.main-nav__item--cta a {
	color: white;
	background: #ff1b68;
	padding: 8px 16px;
	border-radius: 8px;
}

.main-nav__item {
  display: inline-block;
	margin: 0 16px;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav {
	display: inline-block;
	text-align: right;
	width: calc(100% - 74px);
	vertical-align: middle;
}

.main-header__brand {
	color: #0e4f1f;
	text-decoration: none;
	font-weight: bold;
	font-size: 22;
}

.main-header > div {
  display: inline-block;
	vertical-align: middle;
}

.main-header {
  width: 100%;
  background-color: #2ddf5c;
  padding: 8px 16px;
} */
/* </nav bar> */

label,
input,
textarea {
  display: block;
  margin: 0.5rem 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Sans-serif' !important;
  background-color: #fafafa;
}

* {
  box-sizing: border-box;
}

@media (min-width:768px) {
  .divcontainer h1 {
    margin: auto;
    width: 62%;
    font-size: 1.8rem;
    padding: 1%;
    text-align: center;
  }

  .divcontainer {
    margin: 0 10%;
    background-color: whitesmoke;
  }
}